.cor-thola{
color: purple;
margin: 10px;  padding: 0px;}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--cor-de-fundo);
}
.cor-de-texto{
    color: white;
   margin: 10px; padding:0;
}
.principal {
    background-image: url("img/Background.png");
}

